extends layout.pug

block number1
    if error
        p.error Please fill the text area

    if success 
        p.success Good job

    if deleted
        p.success Deleted

    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Add your shopping item...' name='shoppingitem')
        button.btn Add

    div.shpitems
        if shpitems.length
            each shpitem in shpitems
                p.shpitem 
                    if shpitem.done
                        a.done(href=`/${ shpitem.id }/update`) #{ shpitem.description }
                    else 
                        a.undone(href=`/${ shpitem.id }/update`) #{ shpitem.description }
                    a.delete(href=`/${ shpitem.id }/delete`) Delete
        else
            p.shpitem No any shopping item available
